* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    display: flex;
}

.sidebar {
    height: 100vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    border-right: solid white 2px;
}

.code {
    border: none;
    outline: none;
    width: 100%;
    height: 100vh;
    background-color: skyblue;
}